.register__container {
    padding: 4% 0px;
    background-color: #f1f0eee2;
    display: flex;
    justify-content: center;
}

.register__box{
    padding-top: 3%;
    background-color: white;
    height: 60vh;
    width: 30%;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
}

.register__h2{
    padding-top: 5%;
    font-weight: 600;
    color: rgb(111, 39, 39);
}

.register__email{
    height: 45px;
    width: 40vh;
    font-size: 20px;
    margin-top: 15%;
    border: 1px solid;
    border-color: rgb(46, 50, 94);
    border-radius: 5px;
    text-align: center;
    background-color: aliceblue;
}

.register__email:focus{
    outline: none;
}

.register__password{
    height: 45px;
    width: 40vh;
    font-size: 20px;
    border: 1px solid;
    border-color: rgb(46, 50, 94);
    border-radius: 5px;
    text-align: center;
    background-color: aliceblue;
}

.register__signUp{
    height: 45px;
    width: 40vh;
    font-size: 20px;
    margin-top: 12%;
    border: 1px solid;
    border-color: rgb(21, 38, 225);
    color: white;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(28, 133, 226);
    cursor: pointer;
}

.register__google{
    margin-top: 5%;
}

.register__login{
    color: rgb(96, 131, 238);
    cursor: pointer;
    text-decoration: none;
}
.register__valid{
    color: rgb(243, 46, 46);
    font-size: 15px;
}


@media (max-width:1350px) {
    .register__box {
        width: 55%;
    }
}
@media screen and (max-width:786px) {
    .register__box {
        height: 68vh;
        width: 85%;
    }
}
